GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GITHUB_APP_SLUG=kartore-dev
SESSION_SECRET=
PREVIEW_SIGNING_SECRET=
GITHUB_WEBHOOK_SECRET=
PUBLIC_ORIGIN=http://localhost:5173
